@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.nav-text {
    color: #fff;
}
li {
    padding-right: 10px;
}
nav li>a:after {
    content: "";
    display: block;
    margin:left;
    background-color: #7e7872;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav li>a:hover:after {
    width: 100%;
}

.container-body:hover {
    opacity: 75%;
    cursor: pointer;
}
.arr-down div {
    height: 20px;
    width: 20px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(225deg);
}



@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }